.container
  .row
    .col-sm-2
      h4 Search:
      div.input
        input(type="text", name="Location")
      h4 Quick View:
        h5
          ul
            li
              button(class="btn-link" ng-click="centerOnMe()") My Location
              li
                button(class="btn-link" ng-click="centerOnUK()") United Kingdom
                ul
                  li
                    button(class="btn-link" ng-click="centerOnIRE()") Ireland
                  li
                    button(class="btn-link" ng-click="centerOnSCO()") Scotland
                  li
                    button(class="btn-link" ng-click="centerOnENG()") England & Wales
                  li
                    button(class="btn-link" ng-click="centerOnIOM()") Isle of Man


    .col-sm-7
      map(map-type-control="false")
        marker(ng-repeat='pos in positions' position="{{pos.value[0]}},{{pos.value[1]}}" title="{{pos.id}}" on-click='getWreck(pos.id)')
          shape(name="circle" ng-if="pos.value[2] == 'true'" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35" center="{{pos.value[0]}},{{pos.value[1]}}" radius="500")
          shape(name="circle" ng-if="pos.value[2] == 'close'" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35" center="{{pos.value[0]}},{{pos.value[1]}}" radius="100")

    .col-sm-3(ng-if="activeWreck")
      h3 Quick Info
      hr
      .row
        .col-sm-10
          p
          ul
            li Name: {{activeWreck.Name}}
            li Location: {{activeWreck.Location}}
            li Place: {{activeWreck.Place}}
            li Depth: {{activeWreck.Depth}}
            li Height: {{activeWreck.Height}}
            li Average Visiblity: {{activeWreck.AvgVis}}
            li GPS HMS: {{activeWreck.Latitude}}, {{activeWreck.Longitude}}
            li GPS DEC: {{activeWreck.DecLatitude}}, {{activeWreck.DecLongitude}}


  .row(ng-if="activeWreck")
    .col-sm-10
      h3 Full Details:
      h4 {{activeWreck.Type}} - {{activeWreck.Name}}, {{activeWreck.VesselType}} (Last Updated - {{activeWreck.LastUpdated}})
        p
        ul
          li Lost {{activeWreck.DoL}}, {{activeWreck.CoL}}
          li Hull Material: {{activeWreck.HMaterial}}
      h4 Diving Info:
        p
        ul
          li Expreience: {{activeWreck.Experience}}
          li Seabed: {{activeWreck.SeaBed}}
          li Launch From: {{activeWreck.Launchfrom}}
      h4 Diving Notes:
        p
        ul
          li(ng-repeat='note in activeWreck.DiveInfo') {{note}}
      h4 Maps:
        p
        ul
          li Admirality Map: {{activeWreck.AdmMap}}
          li Ordnance Survey: {{activeWreck.OSMap}}
      h4 Historical Info:
        p
        ul
          li(ng-repeat='item in activeWreck.HistInfo') {{item}}
