.container
  .jumbotron
    h1 DiveLocator
    p Welcome to my home
  .row
    .col-sm-7
      h5 Wrecks  
  .row
    .col-sm-2
      h4 Search:
      div.input
        input(type="text", name="Location")
      h4 Filters:
      h5 Region
        ul
          li 
            a Americas
          li 
            a Europe
          li 
            a Asia-Pacific
        
    .col-sm-7
      map(map-type-control="false")
        marker(ng-repeat='pos in positions' position="{{pos.value[0]}},{{pos.value[1]}}" title="{{pos.id}}")
          shape(name="circle" ngif="{{pos.value[2]}} == 'true'" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35" center="{{pos.value[0]}},{{pos.value[1]}}" radius="500")